/* Member */

.member-item {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
  justify-content: space-between;
  max-width: 130px;
}

.member-img {
  max-height: 110px;
}
.member-text {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  text-align: center;
  margin-top: 10px;
}

.member-name {
  font-weight: bold;
}
.member-role {
  margin-top: 3px;
}
